<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Explore</title>
</head>
<body>
  <main layout:fragment="content" class="content">
      <div class="page-header">
        <h2>Explore the Universe</h2>
      </div>

      <div class="masonry-grid" th:if="${imagens != null and #lists.size(imagens) > 0}">
        <div class="grid-item" th:each="imagem : ${imagens}">
          <img th:src="${imagem.endereco}" th:alt="${imagem.titulo}" alt="Upload image">
          <div class="grid-item-overlay">
            <h4 th:text="${imagem.titulo}">Image title</h4>
            <p th:text="${imagem.descricao != null ? imagem.descricao : 'No description'}">Image description</p>
          </div>
        </div>
      </div>
      <div class="empty-state" th:if="${imagens == null or #lists.isEmpty(imagens)}">
        <p>Ainda não há fotos no universo do SpaceTrain. Seja o primeiro a fazer um upload!</p>
      </div>
  </main>
</body>
</html>
